* {
  padding: 0px;
  margin: 0px;
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}
.orange {
  color: #ff6700;
}
.bg-orange {
  background-color: #ff6700;
}
.gray {
  color: #b0b0b0;
}
.green {
  color: #83c44e;
}
.top {
  margin-top: 10px;
}
.white {
  color: white;
}
.fz-12 {
  font-size: 12px;
}
.fz-18 {
  font-size: 18px;
}
.fz-14 {
  font-size: 14px;
}
.fz-22 {
  font-size: 22px;
}
.clearfix {
  overflow: hidden;
}
.site-bn-bar {
  width: 100%;
  height: 120px;
  background-color: #333333;
  background-image: url(http://i3.mifile.cn/a4/cms_14919018181939_GUomx.jpg);
  background-position-x: 50%;
}
.site-topbar {
  height: 40px;
  width: 100%;
  background-color: #333333;
}
.container {
  margin: 0 auto;
  /height: 40px;
  width: 1226px;
  font-size: 12px;
  line-height: 40px;
}
.container span {
  margin: 2px;
}
.topbar-nav a:link, .topbar-nav a:visited {
  text-decoration: none;
  color: #b0b0b0;
}
.topbar-nav a:hover {
  color: white;
}
.topbar-nav a:active {
  color: #b0b0b0;
}
.topbar-cart {
  float: right;
  background-color: #424242;
  height: 40px;
  width: 120px;
  text-align: center;
  position: relative;
}
.topbar-cart a {
  color: #b0b0b0;
}
.topbar-cart:hover {
  background-color: #fff;
}
.topbar-cart:hover a{
  color: #ff6700;
}
.topbar-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  width: 315px;
  height: 0px;
  text-align: center;
  line-height: 100px;
  box-shadow: -2px 2px 2px rgba(0,0,0,.1);
  visibility: hidden;
  transition: all .2s linear;
  overflow: hidden;
}
.topbar-cart:hover .topbar-menu {
  height: 100px;
  visibility: visible;
}
.topbar-info {
  float: right;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  z-index: 9;
}
.nav {
  height: 100px;
  width: 100%;
  background-color: #fff;
  border: 0px solid;
}
.nav .container {
  height: 100%;
  border: 0px solid;
}
.nav .container .logo {
  display: inline-block;
  vertical-align: 27.5px;
  width: 55px;
  height: 55px;
  background-image: url(http://s01.mifile.cn/i/mi-logo.png);
  background-color: #ff6700;
  background-size: 55px 55px;
  border: 0px solid ;
  margin-right: 10px;
}
.nav .container .ad {
  border: 0px solid;
  display: inline-block;
  width: 165px;
  height: 100px;
  background: no-repeat url(http://c1.mifile.cn/f/i/g/2015/gif/yybjb.gif);
  background-position: 0 15px;
}
.nav-list {
  display: inline-block;
  width: 640px;
  height: 100px;
  border: 0px solid;
  vertical-align: top;
  line-height: 100px;
  position: relative;

}
.nav-item {
  padding: 0 10px;
  font-size: 16px;
  display: inline-block;
  list-style: none;
  margin-right: -5px;
}
.nav-item a {
  text-decoration: none;
  color: #333;
}
.nav-item a:hover {
  color: red;
}
.search {
  float: right;
  display: inline-block;
  width: 296px;
  height: 100px;
  border: 0px solid;
  vertical-align: top;
  line-height: 100px;
}
.search .search-input {
  display: inline-block;
  width: 245px;
  height: 50px;
  border: 1px solid #b0b0b0
}
.search-submit {
  margin-left: -5px;
  /font-size: 20px;
  height: 52px;
  width: 50px;
  border: 1px solid #b0b0b0;
  background-color: #fff;
}
.search-submit:hover {
  background-color: #ff6700;
  cursor: pointer;
}
.container-item {
  height: 230px;
  width: 1440px;
  background-color: #fff;
  position:  absolute;
  border-top: 1px solid #b0b0b0;
  left: -345px;
  top: 90px;
  box-shadow: 0 3px 2px 1px #b0b0b0;
}


/*展示下拉商品开始*/
.container-item {
    display: none;
    z-index: 100;
}
.zhanshi {
  height: 100%;
  width: 1220px;
  margin: 0 auto;
  background-color: #fff;
  border: 0px solid;
}
.nav-item a:hover + .container-item{
  display: block;
  /height: 100%;
}
.zhanshi_1 {
  width: 200px;
  height: 100%;
  border: 0px solid;
  position: relative;
  float: left;
}
.zhanshi_1 img {
  height: 120px;
  width: 160px;
}
.zhanshi_1 > * {
  position: absolute;
  border: 0px solid;
  line-height: 20px;
  font-size: 14px;
}
.zhanshi_1 > a:first-child {
  margin-left: 20px;
  top: 30px;
}
.zhanshi .zhanshi_1 div {
  top: 160px;
  left: 50px;
  margin: 0px;
  height: 20px;
  width: 100px;
  left: calc((100% - 100px) / 2 );
  text-align: center;
}
.zhanshi .zhanshi_1 div a {
  border: 0px solid;
}
.zhanshi .zhanshi_1 p {
  bottom: 25px;
  width: 70px;
  height: 20px;
  left: calc((100% - 70px) / 2 );
  color: #ff6700;
  text-align: center;
}
/*展示下拉商品结束*/


/*sidebar开始*/
.section-1 * {
  border: 0px solid;
  font-size: 14px;
}
.section-1 {
  height: 460px;
  background-color: #fff;
  border: 0px solid;
  position: relative;
}
.section-1-nav {
  width: 234px;
  height: 100%;
  float: left;
  /position: relative;
  background-color: #55585d;

}
.section-1-nav > ul {
  position: absolute;
  height: 100%;
  width: 234px;
  list-style-type: none;
  color: #fff;
  /padding: 20px 0;
}
.section-1-nav > ul > li:first-child {
  margin-top: 20px;
}
.section-1-nav > ul > li {
  height: 45px;
  margin-left: -2px;
  margin-bottom: -2px;
}
.section-1-nav > ul > li> a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}
.section-1-nav > ul > li > a > span {
  position: absolute;
  right: 20px;
  color: #a8aaad;
}
.section-1-nav >  ul > li:hover {
  background-color: #ff6700;
}
.section-1-nav-item {
  z-index: 20;
  display: none;
  position: absolute;
  height: 100%;
  width: 265px;
  background-color: #fff;
  left: 234px;
  top: 0;
  border: 1px solid #b0b0b0;
  border-left: transparent;
  box-shadow: 0 1px 0px 0px#b0b0b0;
  margin-right: -5px;
}
.section-1-nav-item2 {
  left: 499px;
}
.section-1-nav li:hover .section-1-nav-item {
  display: block;
}
.section-1-nav-item li{
  height: 76px;
  border: 0px solid black;
  position: relative;
}
.section-1-nav-item li:first-child {
  /margin-top: 20px;
}
.section-1-nav-item li a img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.section-1-nav-item li a span {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  left: 60px;
}
.section-1-nav-item li a + a {
  position: absolute;
  width: 58px;
  height: 22px;
  color: #ff6700;
  right: 20px;
  border: 1px solid #ff6700;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  line-height: 22px;
}
.section-1-nav-item li a:nth-child(1) span:hover {
  color: #ff6700;
}
.section-1-nav-item li a:nth-child(2):hover {
  background-color: #ff6700;
  color: #fff;
}
.section-1-sidebar {
  height: 100%;
  margin-left: 234px;
}
/*sidebar轮播图开始*/

/*css public start*/
.floatfix {
*zoom: 1;
}
.floatfix:after {
content: "";
display: table;
clear: both;
}
/*css public end*/

/*slider start*/
.slider-contaner{
width:100%;
height: 100%;
position:relative;
}
.slider-item + .slider-item{
opacity:0;
}
.slider-item{
width:100%;
height: 460px;
position:absolute;
animation-timing-function: linear;
animation-name:fade;
animation-iteration-count: infinite;
background-size:1226px 460px;
background-repeat: no-repeat;
}
.focus-container{
position:absolute;
z-index:7;
/margin:0 auto;
/left:0;
right:100px;
height: 10px;
width: 60px;
border: 0px solid;
}
.focus-container ul {
  border: 0px solid;
  height: 10px;
  width: 160px;
}
.focus-container li{
width:10px;
height:10px;
border-radius:50%;
float:left;
margin-right:10px;
background:black;
}
.focus-item{
width:100%;
height:100%;
border-radius:inherit;
animation-timing-function: linear;
animation-name:fade;
animation-iteration-count: infinite;
}
.focus-item2,.focus-item3,.focus-item4,.focus-item5{
opacity:0;
}
.focus-container ul{
margin-left:46%;
}
/*设置轮播焦点的位置*/
.focus-container{
bottom:2%;
}
/*设置当前图片焦点的颜色*/
.focus-item{
background:#51B1D9;
}
/*设置动画*/
.slider-item,.focus-item{
animation-duration: 20s;
}
.slider-item1,.focus-item1{
animation-delay: -1s;
}
.slider-item2,.focus-item2{
animation-delay: 3s;
}
.slider-item3,.focus-item3{
animation-delay: 7s;
}
.slider-item4,.focus-item4{
animation-delay: 11s;
}
.slider-item5,.focus-item5{
animation-delay: 15s;
}
@keyframes fade{
0%{
opacity:0;
z-index:2;
}
5%{
opacity:1;
z-index: 1;
}
20%{
opacity:1;
z-index:1;
}
25%{
opacity:0;
z-index:0;
}
100%{
opacity:0;
z-index:0;
}
}
/*设置背景*/
.slider-item1{
background-image:url(http://i3.mifile.cn/a4/xmad_14890540384283_nQsCx.jpg);
}
.slider-item2{
background-image:url(http://i3.mifile.cn/a4/xmad_14920706992119_eYRPO.jpg);
}
.slider-item3{
background-image:url(http://i3.mifile.cn/a4/xmad_14917472609052_vuyqO.jpg);
}
.slider-item4{
background-image:url(http://i3.mifile.cn/a4/xmad_14918383530962_LIeVK.jpg);
}
.slider-item5{
background-image:url(http://i3.mifile.cn/a4/xmad_14919022200673_VTdLq.jpg);
}
/*sidebar轮播图结束*/
/*sidebar结束*/
/*section-2开始*/
.section-2 {
  margin-top: 10px;
  height: 170px;
}
.section-2-right {
  float: right;
  width: 993px;
  height: 170px;
  background-color: #fff;
  border: 0px solid;
}
.section-2-right div {
  float: right;
  margin-left: 15px;
  height: 170px;
  width: 316px;
  border: 0px solid;
}
.section-2-right div:nth-child(1) {
  background-image: url(http://i3.mifile.cn/a4/xmad_14919929115904_lAJpF.jpg);
  background-size: 316px 170px;
}
.section-2-right div:nth-child(2) {
  background-image: url(http://i3.mifile.cn/a4/xmad_14896582916027_isKTx.jpg);
  background-size: 316px 170px;
}
.section-2-right div:nth-child(3) {
  background-image: url(http://i3.mifile.cn/a4/xmad_14878441845871_HAvVD.jpg);
  background-size: 316px 170px;
}
.section-2-right div a {
  display: inline-block;
  height: 140px;
  width: 326px;
}
.section-2-left {
  width: 234px;
  height: 170px;
  background-color: #5f5750;
}
.section-2-left div {
  float: left;
  width: 75px;
  height: 82px;
  /background-color: red;
  /margin-right: 1px;
  border: 1px solid #665e57;
}
.section-2-left div a {
  display: inline-block;
  margin: 0 auto;
  width: 75px;
  height: 82px;
  text-align: center;
  line-height: 82px;
  color: #cfcdcb;
}
.section-2-left div a:hover {
  color: #fff;
}
/*section-2结束*/
/*section-3开始*/
.section-3 {
  background-color: #fff;
  height: 438px;
  border: 0px solid;
  margin-top: 20px;
  position: relative;
}
.box-hd {
  height: 58px;
  border: 0px solid;
  line-height: 58px;
}
.box-hd h1 {
  float: left;
}
.box-bd {
    overflow: hidden;
}
.box-bd ul  {
  height: 380px;
  width: 3000px;
  position: relative;
  left: 0px;
  transition: left .5s linear;
}
.box-bd ul li {
  float: left;
  height: 340px;
  width: 234px;
  text-align: center;
  border: 0px solid;
  padding-top: 30px;
  margin-right: 14px;
  border-top: 1px solid green;
  background-color: #fafafa;
}
.box-bd ul li:nth-child(5n) {
  margin-right: 0;
}
.box-bd ul .box-bd-item-1 {
  border-top-color: #ffac13;
}
.box-bd ul .box-bd-item-2 {
  border-top-color: #83c44e;
}
 .box-bd ul .box-bd-item-3 {
  border-top-color: #2196f3;
}
 .box-bd ul .box-bd-item-4 {
  border-top-color: #e53935;
}
 .box-bd ul .box-bd-item-5 {
  border-top-color: #00c0a5;
}
 .box-bd ul li a {
  color: black;
}
 .box-bd ul li img {
  width: 160px;
  height: 160px;
}
 .box-bd ul li p {
  margin: 0 auto;
}
/*轮播特效开始*/
 .lunbo2 {
  position: absolute;
  border: 1px solid #e0e0e0;
  height: 20px;
  width: 50px;
  float: none;
  background-color: white;
}
.lunbo2-1 {
  left: 1121px;
  top: 28px;
  cursor: pointer;
}
.lunbo2-2 {
  left: 1172px;
  top: 28px;
  cursor: pointer;
}
.lunbo2::before {
  border: 0px solid;
  position: absolute;
  left: 21px;
  top: -11px;
}
.lunbo2:hover {
  color: #ff6700 ;
  border: 1px solid #e0e0e0;
  z-index: 2;
}
.lunbo2-1::before {
  content: "<";
}
.lunbo2-2::before {
  content: ">";
}
.section-3 input {
  display: none;
}

.lunbo2-2-1:checked + label + div ul {
  left: -100%;
}

/*轮播特效结束*/
/*section-3结束*/



/*section-4开始*/
.section {
  width: 100%;
  height: 686px;
  background-color: #f5f5f5;
  overflow: hidden;
}
.container-main {
  margin: 0 auto;
  width: 1226px;
  height: 500px;
  background-color: #f5f5f5;
  position: relative;
}
.section-4 {
  padding-top: 60px;
  height: 686px;
}
.section-nav {
  overflow: visible;
  width: 100%;
  height: 30px;
  border: 0px solid;
}
.section-nav h2 {
  float: left;
  font-weight: 200;
}
.section-nav a {
  float: right;
  font-weight: 200;
  color: #333;
  transition: color .1s linear;
}
.section-nav a:link, .section-nav a:visited {
  color: black;
}
.section-nav a:hover {
  color: #ff6700;
}
.section-nav a:hover .icon {
  background-color: #ff6700;
  color: white;
}
.icon {
  color: white;
  display: inline-block;
  background-color: #b0b0b0;
  border-radius: 50%;
  height: 14px;
  width: 22px;
  text-align: center;
  vertical-align: middle;
  margin-top: -7px;
  margin-left: 10px;
  padding-bottom: 9px;
  transition: background-color .1s linear;
}
.section-main {
  width: 100%;
  height: 628px;
  border: 0px solid;
  clear: both;
  margin-top: 10px;
  position: relative;
}
.first-item {
  display: inline-block;
  border: 0px solid;
  width: 234px;
  height: 628px;
  background-image: url(http://i3.mifile.cn/a4/xmad_14919049322364_VRaJN.jpg);
  background-size: 234px 628px;
  margin-right: -6px;
  transition: all .3s linear;
}
.first-item:hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 4px 4px #e4e4e4;
}
.first-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.section-main-item {
  display: inline-block;
  width: 988px;
  height: 628px;
  border: 0px solid;
  position: relative;
}
.section-main-item-1 {
  z-index: 2;
}
.list-item {
  float: left;
  margin-left: 13px;
  margin-bottom: 13px;
  height: 293px;
  width: 234px;
  border: 0px solid;
  background-color: #fff;
  text-align: center;
  transition: all .3s linear;
  position: relative;
  padding-top: 14px;
  overflow: hidden;
}
.list-item span {
  line-height: 20px;
  font-size: 12px;
  color: white;
  position: absolute;
  height: 20px;
  width: 64px;
  top: 0px;
  left: 85px;
  background-color: #83c44e;
}
 .list-item .list-item-a {
  display: block;
  color: #333;
  font-size: 14px;
}
.section-main-item .list-item a:nth-child(1) {
  width: 160px;
  height: 160px;
  margin-top: 10px;
}
.list-item-p {
  font-size: 12px;
  margin-bottom: 10px;
}
.list-item img {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}
.list-item:hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 4px 4px #e4e4e4;
}
/*section-4结束*/
/*section-5开始*/
.section-5 {
  height: 686px;
  padding-top: 20px;
}
.section-5-input {
  float: right;
  display: none;
}
.section-5-input + label {
  position: relative;
  float: right;
  bottom: 20px;
  margin-left: 20px;
  font-weight: 200;
  cursor: pointer;
}
.section-5-input + label::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  color: #ff6700;
  height: 2px;
  width: 100%;
  background-color: #ff6700;
  opacity: 0;
  transition: opacity .1s linear;
}
.section-5-input + label:hover {
  color: #ff6700;
}
.section-5-input + label:hover::after {
  opacity: 1;
}
.first-column {
  height: 686px;
  width: 234px;
  float: left;
}
.first-item-all {
  width: 234px;
  height: 293px;
  background-size: 234px 307px;
  margin-bottom: 8px;
  padding-top: 14px;
}
/*.section-main-item-1 .list-item:nth-last-child(1),
.section-main-item-2 .list-item:nth-last-child(1),
.section-main-item-3 .list-item:nth-last-child(1),
.section-main-item-4 .list-item:nth-last-child(1) {
  height: 133px;
}
.section-main-item-1 .list-item:nth-last-child(2),
.section-main-item-2 .list-item:nth-last-child(2),
.section-main-item-3 .list-item:nth-last-child(2),
.section-main-item-4 .list-item:nth-last-child(2)    {
  height: 133px;
}
*/
.list-item-last {
  height: 133px;
}
.first-item-5-1 {
  background-image: url(http://i3.mifile.cn/a4/xmad_14917442265775_pIcEt.jpg);
  /margin-bottom: 14px;
}
.first-item-5-2 {
  background-image: url(http://i3.mifile.cn/a4/xmad_14897335714698_hsIrY.jpg);
}
.alert {
  width: 100%;
  height: 76px;
  position: relative;
  bottom: -39px;
  font-size: 12px;
  border: 1px solid #ff6700;
  transition: bottom .2s linear;
}
.list-item:hover .alert {
  bottom: 30px;
  opacity: 1;
}
.section-main-item-1 {
  position: absolute;
  top: 0;
  z-index: 1；
  right: 0px;
  /transition: all .1s linear;
  opacity: 1;
}
.section-5-input-1:checked ~ .section-main .section-main-item-1 {
  z-index: 4;
  opacity: 1;
}
.section-main-item-2 {
  position: absolute;
  top: 0;
  z-index: 0；
  right: 0px;
  /transition: all .1s linear;
  opacity: 0;
}
.section-5-input-2:checked ~ .section-main .section-main-item-2 {
  z-index: 4;
  opacity: 1;
}
.section-main-item-3 {
  position: absolute;
  top: 0;
  z-index: 0；
  right: 0px;
  /transition: all .1s linear;
  opacity: 0;
}
.section-5-input-3:checked ~ .section-main .section-main-item-3 {
  z-index: 4;
  opacity: 1;
}
.section-main-item-4 {
  position: absolute;
  top: 0;
  z-index: 0；
  right: 0px;
  /transition: all .1s linear;
  opacity: 0;
}
.section-5-input-4:checked ~ .section-main .section-main-item-4 {
  z-index: 4;
  opacity: 1;
}
.list-item-last img {
  height: 80px;
  width: 80px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.list-item-last a {
  font-size: 14px;
  color: black;
  position: absolute;
  left: 40px;
  top: 50px;
  text-align: left;
}
.list-item-last p {
  font-size: 14px;
  position: absolute;
  left: 40px;
  bottom: 50px;
}


/*section-5结束*/
/*section-6开始*/
.section {
  padding-top: 20px;
}
.first-item-6-1 {
  background-image: url(http://i3.mifile.cn/a4/0ff2c84c-d0e6-4232-b0fb-2cebefd1a207);
}
.first-item-6-2 {
  background-image: url(http://i3.mifile.cn/a4/xmad_14917439688152_WfFXu.jpg);
}
/*section-6结束*/
/*section-7开始*/
.section {
  overflow: hidden;
  padding-top: 20px;
}
.first-item-7-1 {
  background-image: url(http://i3.mifile.cn/a4/xmad_14896306034843_iKquy.jpg);
}
.first-item-7-2 {
  background-image: url(http://i3.mifile.cn/a4/xmad_14877494013394_hRbYf.jpg);
}
/*section-7结束*/
/*section-8开始*/
.section-8 input{
  display: none;
}
.section-8 {
  height: 358px;
}
.section h1 {
  float: left;
  font-weight: 200;
}
}
/*section-8结束*/
/*section-9开始*/
.section-9 a {
  color: black;
}
.section-9 {
  height: 480px;
  margin-top: 0px;
  padding: 0px;
  overflow: visible;
}
.section-9 h1 {
  font-size: 22px;
  font-weight: 200;
}
.section-9-li div a {
  color: #333;
  }
 .description {
  color: #333;
  font-size: 14px;
  line-height: 24px;
  display: block;
  width: 240px;
  height: 72px;
  margin: 0 auto 10px;
}
.section-9-li {
  position: relative;
  width: 296px;
  height: 415px;
  background-color: #fff;
  border: 0px solid;
  float: left;
  margin-right: 14px;
  transition: transform .3s linear;
  overflow: hidden;
}
.section-9-li:hover {
  transform: translateY(-4px);
  box-shadow: 0 2px 4px 4px #e4e4e4;
}
.left {
  margin-left: 28px;
}
.section-9-li:nth-child(4) {
  margin-right: 0px;
}
.section-9-img {
  width: 296px;
  height: 220px;
}

/*section9-结束*/
/*section10-开始*/
.section-10-radio {
  opacity: 0;
  background-color: #d9d9d9;
  height: 47px;
  width: 20px;
  position: absolute;
  text-align: center;
  top: 184px;
  transition: opacity .5s linear, background-color .5s linear;
  cursor: pointer;
}
.section-10 {
  height: 500px;
}
.section-10-radio:hover {
  background-color: #8e8e8e;
}
.section-10-li:hover .section-10-radio {
  opacity: 1;
}
.radio-left {
  left: 0;
}
.radio-right {
  right: 0;
}
.radio-top {
  display: none;
}
.radio-down {
  z-index: 10;
  position: absolute;
  left: 1px;
  bottom: 9px;
  height:20px;
  width: 20px;
  cursor: pointer;
}
.radio-down::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #b0b0b0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all .1s linear;
}
.radio-down:hover::after {
  background-color: #ff6700;
}
.radio-down-1 {
  left: 98px;
}
.radio-down-2 {
  left: 148px;
}
.radio-down-3 {
  left: 198px;
}

.section-10-radio-1:checked ~ .radio-down-1::after,
.section-10-radio-2:checked ~ .radio-down-2::after,
.section-10-radio-3:checked ~ .radio-down-3::after {
  background-color: #fff;
  border: 2px solid red;
  width: 8px;
  height: 8px;
}




.section-10-radio-1:checked ~ .first-picture-radio {
  z-index: 3;
}
.section-10-radio-2:checked ~ .first-picture-radio {
  z-index: 1;
}
.section-10-radio-2:checked ~ .second-picture-radio {
  z-index: 3;
}
.section-10-radio-3:checked ~ .second-picture-radio {
  z-index: 1;
}
.section-10-radio-3:checked ~ .third-picture-radio {
  z-index: 3;
}


.section-10-radio-1:checked ~ .picture-all {
  left: 20px;
}
.section-10-radio-2:checked ~ .picture-all {
  left: -256px;
}
.section-10-radio-3:checked ~ .picture-all {
  left: -532px;
}





.picture-all {
  border: 0px solid;
  position: absolute;
  height: 100%;
  width: 848px;
  left: 20px;
  top: 0px;
  text-align: center;
  background-color: #fff;
  transition: left .3s linear;
  }
.picture {
  position: absolute;
  display: inline-block;
  top: 0;
  width: 256px;
  border: 0px solid;
  transition: left .4s linear;
}
.first-picture {
  left: 0;
}
.second-picture {
  left: 276px;
}
.third-picture {
  left: 552px;
}
.title {
  margin: 40px auto 0px;
  font-size: 16px;
}
.main-title {
  font-size: 20px;
}
.section-9-li div .gray a {
  color: #b0b0b0;
}
.alone {
  line-height: 20px;
}
.section-10-li-1 {
  border-top: 1px solid #ff6700;
}
/*section10-结束*/
/*section11-开始*/
.section-11 {
  margin-top: -10px;
  height: 400px;
}
.section-11-li {
  height: 285px;
  text-align: center;

}
.section-11-img {
  height: 180px;
  width: 100%;
}
.play {
  width: 32px;
  height: 20px;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 20px;
  top: 140px;
  border-radius: 10px/10px;
}
.play::after {
  content: "";
  position: absolute;
  right: 3px;
  top: 2px;
  padding: 0px;
  border: 8px solid;
  border-color: transparent transparent transparent white;
}
.h16 {
  height: 16px;
}
.h18 {
  height: 18px;
  margin-top: 10px
}
.video:hover span{
  background-color: #ff6700;
  border-color: #ff6700;
}

/*section11-结束*/
/*section12-开始*/
.section-12 {
  height: 272px;
}
.section-12 a:hover {
  color: #ff6700;
}
.section-12-li-1 {
  height: 80px;
  width: 243.75px;
  border: 0px solid;
  float: left;
  text-align:center;
  line-height: 80px;
  font-size: 16px;
  border-bottom: 1px solid gray;
}
.section-12-li-1 a {
  color: #616161;
  transition: all .15s linear;
}
.section-12-li-1 a:hover {
  color: #ff6700;
}
.section-12-bottom-left {
  /float: left;
}
.section-12-li-2 {
  float: left;
  width: 160px;
  height: 112px;
  text-align: left;
  border: 0px solid;
}
.section-12-li-2 h4 {
  display: block;
  font-size: 14px;
  margin: 20px 0;
}
.section-12-li-2 p {
  margin: 4px 0;
  line-height: 20px;
}
.section-12-li-2 p a {
  color: #757575;;
}

.section-12-bottom-right {
  float: right;
  height: 112px;
  text-align: center;
  line-height: 30px;
  margin-top: 25px;
  width: 252px;
  /border-left: 1px solid #757575;
}
.the-end {
  width: 120px;
  height: 30px;
  border: 1px solid #ff6700;
  color: #ff6700;
  margin: 0 auto;
  background-color: #fff;
  transition: color .2s linear,background-color .2s linear;
}
.the-end a {
  transition: color .2s linear;
}
.the-end:hover {
  background-color: #ff6700;
}
.the-end:hover a {
  color: #fff;
}


/*section12-结束*/
/*section13-开始*/
.section-13 {
  border: 0px solid;
  background-color: #f5f5f5;
  height: 186px;
  width: 100%;
}
.container-13 {
  width: 1226px;
  margin: 0 auto;
  height: calc(100% - 20px);
  position: relative;
  padding-top: 20px;
}
.container-13 div {
  display: inline-block;
}
.logo-end {
  margin-right: 5px;
  height: 57px;
  width: 57px;
  background-image: url(http://s01.mifile.cn/i/logo-footer.png?v2);
}
.link {
  position: absolute;
  top: 15px;
  color: #757575;
}
.link span {
  font-size: 12px;
}
.zhuanli a {
  color: #b0b0b0;
}
.link a:hover {
  color: #ff6700;
}
.renzheng {
  float: right;
  margin-top: 10px;
}
.renzheng img {
  height: 28px;
}
.final {
  background-image: url(http://s01.mifile.cn/i/slogan2016.png);
  width: 267px;
  height: 19px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}



/*section13-结束*/
