<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vuetodo</title>
    <style>
        .hasborder{
            border:1px solid red;
        }
        ul {
           list-style: none;
        }
    </style>
</head>

<body>
    <div id='todolist'>
        <header>
            <input type="checkbox" :checked='ifallchecked' @click='checkgook'>
            <input type="text" @keyup.enter="add" v-model='newtodo' placeholder="what needs to be done?">
        </header>
        <main>
            <ul>
                <li v-for='(todo,index) in todos' v-if="show=='all'||(show=='active'&&todo.done==false)||(show=='complete'&&todo.done==true)">
                    <input type="checkbox" v-model=todo.done>
                    <input type="text" v-model=todo.content>
                    <span>{{todo.content}}</span>
                    <span @click='remove(index)'>X</span>
                </li>
            </ul>
        </main>
        <footer>
        <span>{{lefts}} items left</span>
        <span @click="show='all'" v-bind:class="{hasborder:show=='all'}">All</span>
        <span @click="show='active'" v-bind:class="{hasborder:show=='active'}">Active</span>
        <span @click="show='complete'" v-bind:class="{hasborder:show=='complete'}">Complete</span>
        <span @click='cc'>Clear Complete</span>
        </footer>
    </div>
</body>
<script src='./vue.js'></script>
<script>
var app=new Vue({
    el: '#todolist',
    data: {
        newtodo: '',
        todos: [],
        show:'all',
    },
    computed:{
        ifallchecked:function(){
            if(this.todos.length){              
            return this.todos.every(it=>it.done==true)
            }else return false
        },
        lefts:function(){
            return this.todos.filter(it=>it.done==false).length
        }
    },
    methods: {
        add: function() {
            if (this.newtodo.trim()) {
                this.todos.push({
                    content: this.newtodo,
                    done: false,
                })
                this.newtodo = '';
            }

        },
        remove: function(index) {
            this.todos.splice(index, 1)
        },
        checkgook: function() {
            if(this.todos.every(it=>it.done==true)){
                this.todos.forEach(it=>it.done=false)
            }else{
                this.todos.forEach(it=>it.done=true)
            }
        },
        cc:function(){
            var t=this.todos.filter(it=>it.done==false)
            this.todos=t
        },
    }
})
</script>

</html>