<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vuetodo</title>
</head>

<body>
    <div id='todolist'>
        <header>
            <input type="checkbox" @click='toggle' v-model='allcheck'>
            <input type="text" @keyup.enter="add" v-model='newtodo' placeholder="what needs to be done?">
        </header>
        <main>
            <ul>
                <li v-for='(todo,index) in todos'>
                    <input type="checkbox" v-model=todo.done @click='checkgook' v-show='show'>
                    <input type="text" v-model=todo.content>
                    <span>{{todo.content}}</span>
                    <span @click='remove(index)'>X</span>
                </li>
            </ul>
        </main>
        <footer>
        <span id='todoleft'>{{left}} items left</span>
        <span id='all' @click=showall>All</span>
        <span id='active' @click=showactive>Active</span>
        <span id='complete'>Complete</span>
        <span id='cc'>Clear Complete</span>
        </footer>
    </div>
    <div id='test'>
    	<input type="checkbox" :check='aaa'>
    </div>
</body>
<script src='./vue.js'></script>
<script>
new Vue({
	el:'#test',
	data:{

	},
	computed:{
        aaa:function(){
        	return true
        }
	}
})
new Vue({
    el: '#todolist',
    data: {
        allcheck: false,
        newtodo: '',
        todos: [],
        left:'',
        show:true,
    },
    methods: {
        add: function() {
            if (this.newtodo.trim()) {
                this.todos.push({
                    content: this.newtodo,
                    done: false,
                })
                this.newtodo = '';
                this.allcheck=false
            }
        },
        remove: function(index) {
            this.todos.splice(index, 1)
        },
        toggle: function() {
            if (this.todos.some(it => it.done == false)) {
                this.todos.forEach(it => it.done = true)
                this.allcheck = true
            } else {
                this.todos.forEach(it => it.done = false)
                this.allcheck = false
            }
        },
        checkgook: function() {
            if (this.todos.every(it => it.done == true)) {
                this.allcheck = true
            } else {
                this.allcheck = false
            }
        },
        showall:function(){
           //this.todos.forEach(it=>it.show=true)
        },
        showactive:function(e){
        	console.log(e)
        	this.todos.forEach(it=>{if(it.done)this.show=false;else this.show=true})
        }
    }
})
</script>

</html>